# 보통 크기가 매우 크고(수백 MB), package.json에 의존성이 명시되어 있기 때문에 굳이 Git에 포함할 필요없음
node_modules/

# 데이터베이스 비밀번호, API 키와 같은 민감한 정보를 담고 있는 환경설정 파일
.env
.env.local
.env.*
config.js
*.config.js

# 운영체제 파일
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# 압축 파일
*.zip
*.gz
*.tar
*.rar

# 마운트된 디렉토리 제외
ms_nfs_mount/

# SSL/TLS 인증서 및 키 파일
*.crt
*.key
*.pem
*.csr
*.srl
*.der
*.priv
*.p12
*.pfx

# 로컬 데이터베이스
*.sqlite
*.db


# IDE/편집기 설정 파일
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# log 파일은 올릴 필요가 없음
*.log
*.gz
*.pcm
*.txt