# 보통 크기가 매우 크고(수백 MB), package.json에 의존성이 명시되어 있기 때문에 굳이 Git에 포함할 필요없음
node_modules/

# 데이터베이스 비밀번호, API 키와 같은 민감한 정보를 담고 있는 환경설정 파일
.env

# Mac OS에서 자동으로 생성되는 시스템 파일
.DS_Store

# log 파일은 올릴 필요가 없음
*.log
*.gz
*.pcm
*.txt