<div class="inner">
  <div class="logo">
    <h1>
      <a href="/workStatusMain" title="메인화면 바로가기"><img src="../images/logo@2x.png" alt="메인 로고"></a>
    </h1>
  </div>

  <nav id="nav">
    <ul>
      <li>
        <a href="" title="모니터링" ><span class="icon moniter"></span>모니터링</a>
        <ul>
          <li><a href="/workStatusMain" title="근무현황" id="workStatusMain" class="menuItem" >근무 현황</a></li>
          <li><a href="/coachingMain" title="코칭현황" id="coachingMain" class="menuItem" >코칭 현황</a></li>
          <li><a href="/emotionStatus" title="감성현황" id="emotionStatus" class="menuItem" >감성 현황</a></li>
        </ul>
      </li>
      
      <li>
        <a href="#" title="코칭"><span class="icon coach"></span>코칭</a>
        <ul>
          <li><a href="/coachingHistory" title="코칭이력" id="coachingHistory" class="menuItem">코칭 이력</a></li>
          <li><a href="/coachingSetting" title="코칭조건설정" id="coachingSetting"  class="menuItem">코칭 조건 설정</a></li>
          <li><a href="/coachingAdmin" title="관리자코칭" id="coachingAdmin"  class="menuItem">관리자 코칭</a></li>
        </ul>
      </li>

      <li>
        <a href="#" title="통계"><span class="icon statistic"></span>통계</a>
        <ul>
          <li><a href="/statsSummary" title="요약통계" id="statsSummary" class="menuItem">요약 통계</a></li>
          <li><a href="/statsDetail" title="상세통계" id="statsDetail" class="menuItem">상세 통계</a></li>
        </ul>
      </li>
      
      <li>
        <a href="#" title="설정"><span class="icon setting"></span>설정</a>
        <ul>
          <li><a href="/settingUser" title="사용자관리" id="settingUser" class="menuItem">사용자 관리</a></li>
          <li><a href="/settingMemo" title="메모관리" id="settingMemo" class="menuItem">메모 관리</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>