<!DOCTYPE html>
<html lang="ko">
<head>
	<title><%= title %></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
	<link rel="stylesheet" href="../stylesheets/reset.css">
	<link rel="stylesheet" href="../stylesheets/font.css">
	<link rel="stylesheet" href="../stylesheets/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
	
	<script type="text/javascript" src="/js/main.js"></script>

	<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/images/favicon/manifest.json">
</head>
<body>
	<section id="container">
		<div class="inner full">
			<div class="loginBox">
				<div class="logo">
				<img src="../images/logo_2.svg" alt="Mind Support 로고">
				</div>
				<div class="inputWrap">
					<form action="/manager/login" method="post">
						<div>
							<input type="text" class="loginId form-control" aria-label="아이디 입력" name="login_id" placeholder="아이디 입력" tabindex="1"/><!-- pattern="^([a-z0-9_]){6,50}$" -->
							<button type="button" class="btnClr" aria-label="입력내용 삭제" tabindex="2"></button>
						</div>
						<div>
							<input type="password" class="loginPw form-control" aria-label="비밀번호 입력" name="login_pw" placeholder="비밀번호 입력" tabindex="3"/><!-- pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@#$%^&*()_-+=[]{}~?:;`|/]).{6,50}$" -->
							<button type="button" class="btnClr" aria-label="입력내용 삭제" tabindex="4"></button>
						</div>
						<div class="saveId" tabindex="">
							<label class='wr-notice-label checkbox-label' for='labelCheck1'>
								<input id='labelCheck1' class='checkbox-form' name='menuGrpUse1' type='checkbox' tabindex="5">		
								<span class='checkbox-img'></span>아이디 저장
							</label>
						</div>
						<button type="submit" class="loginBtn submit" aria-label="로그인 버튼" tabindex="6">로그인</button><!--  onclick="goMainPage()" -->
					</form>
				</div>
			</div>
		</div>
	</section>
	<script>
		/* input 취소 */
		var btnClear = document.querySelectorAll('.btnClr');
		btnClear.forEach(function(btn){
			btn.addEventListener('click', function(){
				btn.parentNode.querySelector('input').value = "";

				if($('.loginId').val()==''){
					$('.loginId').siblings(".btnClr").removeClass('active');
				}
				else{
				$('.loginId').siblings(".btnClr").addClass('active');
				}

				if($('.loginPw').val()==''){
					$('.loginPw').siblings(".btnClr").removeClass('active');
				}
				else{
					$('.loginPw').siblings(".btnClr").addClass('active');
				}
			})
		});

		$(".loginId").on("input",function(){
			if($('.loginId').val()==''){
				$('.loginId').siblings(".btnClr").removeClass('active');
			} else{
				$('.loginId').siblings(".btnClr").addClass('active');
			}
		});

		$(".loginPw").on("input",function(){
			if($('.loginPw').val()==''){
				$('.loginPw').siblings(".btnClr").removeClass('active');
			}
			else{
				$('.loginPw').siblings(".btnClr").addClass('active');
			}
		});
	</script>
</body>
</html>